/*** Typography ***/
$primaryFont:    'Ubuntu', sans-serif !default; 
$baseFontSize:   16px !default; 
$smallFontSize:  12px !default;
$largeFontSize:  18px !default;
$baseFontWeight: 500 !default;
$baseLineHeight: 1.5 !default;

$headingFont:       'Lora', serif !default;
$heading1Size:      38px !default; 
$heading2Size:      34px !default;  
$heading3Size:      30px !default; 
$heading4Size:      26px !default; 
$heading5Size:      22px !default; 
$heading6Size:      18px !default;
$headingWeight:     300 !default;
$headingLineHeight: 1.1 !default;

/*** padding & radius ***/
$baseMaxWidth:     1440px !default;
$basePadding:      16px !default;
$baseMargin:       $basePadding !default;
$baseBorderRadius: 3px !default;

/*** Colors ***/
$bodyColor:      #fff !default;
$fontColor:      #111 !default;
$headingColor:   #666 !default;
$alertColor:     #F44336 !default;
$successColor:   #009688 !default;
$linkColor:      #2196F3 !default;
$linkHoverColor: lighten($linkColor, 15%) !default;

/*** Forms ***/
$formBorder:       #ccc !default;
$formBorderRadius: $baseBorderRadius !default;
$formPlaceholder:  #ccc !default;

/*** button ***/
$buttonBorderWidth:     1px !default;
$buttonBorderRadius:    $baseBorderRadius !default;
$buttonLineBorderWidth: 6px !default;

/*** alert ***/
$alertBorderRadius: $baseBorderRadius !default;

$alertDangerBackground: #ffcdd2 !default;
$alertDangerForeground: #c62828 !default;
$alertDangerBorder:     #e53935 !default;

$alertSuccessBackground: #c8e6c9 !default;
$alertSuccessForeground: #388e3c !default;
$alertSuccessBorder:     #66bb6a !default;