@import '_mixins';

.button{
    display: inline-block;
    background: transparent;
    border: $buttonBorderWidth solid transparent;
    border-radius: $buttonBorderRadius;
    @include baseButton($linkColor, $bodyColor, $bodyColor);
}

.button-line{
    display: inline-block;
    border-radius: $buttonBorderRadius;
    @include baseLineButton($linkColor, $bodyColor, $buttonLineBorderWidth);
}

.button,
.button-line {
    font-size: calculateRem($baseFontSize, rem);
    padding: $baseFontSize / 2 $baseFontSize;

    &.button-small{
        font-size: calculateRem($smallFontSize, rem);
        padding: $smallFontSize / 2 $smallFontSize;
    }

    &.button-large{
        font-size: calculateRem($largeFontSize, rem);
        padding: $largeFontSize / 2 $largeFontSize;
    }
    
}