@mixin baseButton($foregroundColor, $backgroundColor, $borderColor) {
    color: $foregroundColor;
    background: $backgroundColor;
    border: 1px solid $borderColor;
    transition: all 1s linear;
    
    &:hover,
    &:active{
        color: $foregroundColor;
        background: darken($backgroundColor, 25%);
        border-color: darken($borderColor, 25%);
    }
}

@mixin baseLineButton($foregroundColor, $backgroundColor, $borderWidth) {
    color: $foregroundColor;
    background: $backgroundColor;
    border: $borderWidth solid $foregroundColor;
    
    &:hover,
    &:active{
        color: $backgroundColor;
        background: $foregroundColor;
    }
}