@import '_mixins';

*{
    box-sizing: border-box;
}

/*** Container ***/

.container{
    display: flex;
    width: 100%;
    max-width: calculateRem($baseMaxWidth, rem);
    
    & > .col {
        flex: 1;
        margin-left: calculateRem($basePadding, rem);
        
        &:first-child{
            margin-left: 0;
        }
    }
}